main {
    font-family: serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 220, 153);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-weight: 900;
    font-size: 1.5rem;
    border-bottom: solid 5px black;
    margin-bottom: 50px;
}

.input {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
}

.input label {
    font: bold 1.5rem;
}

.input input {
    width: 200px;
    border: none;
    height: 50px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}

button{
    width: 300px;
    height: 40px;
    font-weight: 700;
    background-color: black;
    color: rgb(238, 220, 153);
    border-radius: 5px;
    cursor: pointer;

}

.result {
    display: flex;
    margin-top: 15px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    background-color: black;
    color: rgb(238, 220, 153);
    padding: 20px;
    box-sizing: border-box;

}